<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tripplanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GO ON"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Views.NotesView.NotesActivity">
        </activity>
        <activity
            android:name=".Views.TripView.Dialog"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".Views.TripDetails.TripDetails" />
        <activity android:name=".Views.Register.Register" />
        <activity android:name=".Views.Login.Login" />
        <activity
            android:name=".Views.SplashView.SplashScreen"

            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.TripView.TripActivity" />
        <activity android:name=".Views.HistoryView.History" />
        <activity
            android:name=".Views.HomeView.MainActivity"
            android:label="@string/app_name">

        </activity>

<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyAlhcnF8gOLFVzwWJD2Gk0wR0EFVmvMf88"/>-->

        <service android:name=".Views.TripView.ForegroundService" />
        <service android:name=".Views.TripView.FloatingViewService"></service>

        <receiver android:name=".Views.TripView.ReminderBroadcast" />
    </application>

</manifest>